@import "tailwindcss";

@theme inline {
  --color-surface: #131313;
  --color-surface-container: #1f1f1f;
  --color-surface-container-low: #1b1b1b;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353535;
  --color-surface-bright: #393939;

  --color-primary-container: #ecd06f;
  --color-primary-fixed-dim: #e0c565;
  --color-primary: #ffedb8;
  --color-on-primary: #3b2f00;

  --color-on-surface: #e2e2e2;
  --color-on-surface-variant: #cec6b2;
  --color-outline: #97907e;
  --color-outline-variant: #4c4637;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

::selection {
  background: var(--color-primary-container);
  color: var(--color-on-primary);
}
